@using TrabajoTiendaZapatillas.Extensions
@model ZapatillaCategoria


@{
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<div class="container py-5">
    <!-- For Demo Purpose-->

    <header class="text-center mb-5">
        <h1 class="tit">  FEEL </h1>
    </header>


    <div class="row pb-5 mb-4">
        <h1 style="color:aqua; font-size:70px">BASKET</h1>
        @foreach (VistaZapatillasCategoria zap in Model.ZapatillasBasket)
        {

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4">
                    <img src="@zap.Imagen" alt="" class="img-fluid d-block mx-auto mb-3" style="height:300px">
                    <h5> <a asp-controller="Tienda" asp-action="ZapatillaDetalles" asp-route-idZapatilla="@zap.IdZapatilla">@zap.Nombre</a> </h5>
                    <p class="small text-muted font-italic">@zap.Descripcion</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0">Precio: @zap.Precio<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0">Talla: @zap.Talla<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"> Unidades stock: @zap.UnidadesStock<i class="fa fa-star text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        }

        <h1 style="color:aqua; font-size:70px">FUTBOL</h1>
        @foreach (VistaZapatillasCategoria zap in Model.ZapatillasFutbol)
        {

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4">
                    <img src="@zap.Imagen" alt="" class="img-fluid d-block mx-auto mb-3" style="height:300px">
                    <h5> <a asp-controller="Tienda" asp-action="ZapatillaDetalles" asp-route-idZapatilla="@zap.IdZapatilla">@zap.Nombre</a></h5>
                    <p class="small text-muted font-italic">@zap.Descripcion</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0">Precio: @zap.Precio<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0">Talla: @zap.Talla<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"> Unidades stock: @zap.UnidadesStock<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0">
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        }

        <h1 style="color:aqua; font-size:70px">SKATE</h1>
        @foreach (VistaZapatillasCategoria zap in Model.ZapatillasSkate)
        {

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4">
                    <img src="@zap.Imagen" alt="" class="img-fluid d-block mx-auto mb-3" style="height:300px">
                    <h5> <a asp-controller="Tienda" asp-action="ZapatillaDetalles" asp-route-idZapatilla="@zap.IdZapatilla">@zap.Nombre</a></h5>
                    <p class="small text-muted font-italic">@zap.Descripcion</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0">Precio: @zap.Precio<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0">Talla: @zap.Talla<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"> Unidades stock: @zap.UnidadesStock<i class="fa fa-star text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        }

        <h1 style="color:aqua; font-size:70px">PREMIUM</h1>
        @foreach (VistaZapatillasCategoria zap in Model.ZapatillasPremium)
        {

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4">
                    
                    <img src="@zap.Imagen" alt="" class="img-fluid d-block mx-auto mb-3"style="height:200px">
                   <h5> <a asp-controller="Tienda" asp-action="ZapatillaDetalles" asp-route-idZapatilla="@zap.IdZapatilla">@zap.Nombre</a></h5>
                    <p class="small text-muted font-italic">@zap.Descripcion</p>
                    <ul class="list-inline small">
                        <li class="list-inline-item m-0">Precio: @zap.Precio<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0">Talla: @zap.Talla<i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"> Unidades stock: @zap.UnidadesStock<i class="fa fa-star text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        }
    </div>




    <!-- First Row [Statistics]-->
    <h2 class="font-weight-bold mb-2">CALZADO PARA HOMBRE</h2>
    <p class="font-italic text-muted mb-4">Nuestras victorias son fruto de nuestro esfuerzo.las zapatillas nos ayudan a alcanzar nuestra mejor versión. Por eso queremos correr ese kilómetro extra.  No importa si hoy toca entrenar piernas, salir a correr o jugar al fútbol. Tenemos todo lo que necesitas.</p>


</div>