@model List<VistaZapatillasCategoria>




<div class="container py-5">
    <!-- For Demo Purpose-->

    <header class="text-center mb-5">
        <h1 class="tit">  FEEL </h1>
    </header>
    
    
        <div class="row pb-5 mb-4">
            @foreach (VistaZapatillasCategoria zap in Model)
        {
             <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                 <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">@zap.Nombre</a></h5>
                        <p class="small text-muted font-italic">@zap.Descripcion</p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0">Precio: @zap.Precio<i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0">Talla: @zap.Talla<i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"> Unidades stock: @zap.UnidadesStock<i class="fa fa-star text-success"></i></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        }
           

        </div>


    
    





    <!-- First Row [Statistics]-->
    <h2 class="font-weight-bold mb-2">Latest Statistics</h2>
    <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>


</div>