@model Zapatilla

@{
    
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}
<html>

    <body>
       <style>
         @@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
    		@@#import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
        		@@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
  body {
    
  background: #1f1a25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
}
img{
    position: fixed;
  top: -8%;
  left: 0%;
  border-radius: 50px;
  opacity:0.9;
  transition: 0.5s;

   
}
h1{
  	   transition: transform 2s;
    font-size: 35px;
color: white;
 font-family: 'Big Shoulders Display', cursive;
}
.card:hover > p{
    opacity:1;
       transform: scale(1.5)
    top:80%;
 
}
img:hover .card{
        
  
}
img, #parent {
    cursor: pointer;
    
}
.card:hover > img{
    opacity:1;
       transform: scale(1.4);
             
}
.card header {
    position:absolute;
 
  top: 120%;
  left: 0%;
    padding: 1px;
    border-radius:  25px;
   width: 450px;
         height: 90px;
     transition: all .5s;
    opacity:0;
}
.card:hover > header{
  
    opacity:1;
         width: 450px;
         height: 90px;
             transform: translateY(-120px);
}

 .card {

    	   transition: transform .7s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white;
    width: 450px;
  height: 450px;
}
.card:hover{

   transform: scale(1.08)
}
  .centeri{ 
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }
  span{
    
    position: relative;
  }

  .detallesprofundidad{
            
            top: 0%;
            left: 50%;
  }
       </style>

    @if (Model != null)
    {
            <div class="centeri">
<div class="card">
  

  <img src="@Model.Imagen" class="foto" style="width:100%">

     <h1 style="height:30px">@Model.Nombre</h1>
  </div>
</div>
<div class="card-body">
                <div class="product-desc">
                     <div id="detallesprofundidad">
                            <h5 class="card-title">@Model.Nombre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Talla: @Model.Talla</h6>
                             <h6 class="card-subtitle mb-2 text-muted">Precio: @Model.Precio</h6>
                    <span class="product-price">
                        <button class="btn btn-info">
                            <i class="fa fa-star text-success">
                                @if (carrito != null && carrito.Contains(@Model.IdZapatilla))
                                {
                                    <button disabled class="btn btn-outline-danger disabled">En carrito</button>
                                }
                                else
                                {
                                    <a class="btn btn-outline-success" asp-action="ZapatillaDetalles" asp-controller="Tienda" asp-route-idzapatilla="@Model.IdZapatilla" asp-route-idzapatillaCarrito="@Model.IdZapatilla">
                                        Añadir a carrito
                                    </a>
                                }
                            </i>
                        </button>

                    </span>
                        </div>

                            <span class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star grey"></i>
                            </span>
                </div>
                <div class="product-properties">

                    <span class="product-caption">

                    </span>

                    
                </div>

                       

                        

            </div>
       

    }




  
    </body>
</html>
